# INTRODUCTION TO STATISTICS 

## Mean And Variance

## Mean

Mean is the measure of `central tendancy` in a dataset. The words mean and average can be used interchangably

Mean can be calculated with the following formular:

$\mu = \frac{1}{n}\Sigma_i x_i$

#### Calculations:

In [1]:
import pandas as pd

In [2]:
data = {
    'Numbers' : [16, 77, 78, 89, 10, 23, 24, 56, 78, 19, 51, 28, 36, 70, 47]
}
df = pd.DataFrame(data)
df.to_csv('dataset1.csv')
df

    Numbers
0        16
1        77
2        78
3        89
4        10
5        23
6        24
7        56
8        78
9        19
10       51
11       28
12       36
13       70
14       47

In [3]:
df['Numbers'].mean()

46.8

## Variance($ \sigma^2 $)

In the same way that the mean is intended to describe the central tendency,
variance is intended to describe the `spread`. The variance of a set of values
is

Variance can be calculated using this formular:

$ \sigma^2 = \frac{1}{n}\Sigma_i (x_i - \mu)^2 $

#### Where:
$ \sigma $ = varaince\
$ \mu $ = mean

The term x i -μ is called the “deviation from the mean,” so variance is the
`mean squared deviation`, which is why it is denoted $ \sigma^2 $ . The square root of
variance, σ, is called the `standard deviation`.

> Note :
> #### Deviation:
the amount by which a single measurement differs from a fixed value such as the mean.

#### Calculations:

In [4]:
df['devaition from mean'] = df['Numbers'] - df['Numbers'].mean()
df

    Numbers  devaition from mean
0        16                -30.8
1        77                 30.2
2        78                 31.2
3        89                 42.2
4        10                -36.8
5        23                -23.8
6        24                -22.8
7        56                  9.2
8        78                 31.2
9        19                -27.8
10       51                  4.2
11       28                -18.8
12       36                -10.8
13       70                 23.2
14       47                  0.2

In [5]:
df['devaition from mean squared'] = df['devaition from mean']**2
df

    Numbers  devaition from mean  devaition from mean squared
0        16                -30.8                       948.64
1        77                 30.2                       912.04
2        78                 31.2                       973.44
3        89                 42.2                      1780.84
4        10                -36.8                      1354.24
5        23                -23.8                       566.44
6        24                -22.8                       519.84
7        56                  9.2                        84.64
8        78                 31.2                       973.44
9        19                -27.8                       772.84
10       51                  4.2                        17.64
11       28                -18.8                       353.44
12       36                -10.8                       116.64
13       70                 23.2                       538.24
14       47                  0.2                         0.04

In [7]:
variance = df['devaition from mean squared'].mean()
variance

660.8266666666666

## Standard Deviation($ \sigma $)

Standard Deviation is the square root of the variance

**Formulars used with standard deviation**

1. When your data is the whole population: 

## $ \sigma = \sqrt[2]{\frac{1}{N}\Sigma_{i=1}^N(x - \mu)^2} $

2. When your data is a sample of the population:

## $ s = \sqrt[]{\frac{1}{N - 1}\Sigma_{i = 1}^N(x - \bar{x})^2} $

In [12]:
import math

In [13]:
standard_deviation = math.sqrt(variance)
standard_deviation

25.706549100699352